* {
  box-sizing: border-box;
}
body {
    background: $bg;
    color: #efefef;
    font-family: helvetica, arial, san-serif;
    a { color: #eee; text-decoration: none;}
}


button { background: lighten($bg, 40)

}
