

::-webkit-scrollbar {
    display: none;
}


//  ********MAIN VIEW********
#app-container {
    display: flex;
    flex-direction: column;
}
// Interval Scheduler
#top {
    height: 15vh;
    text-align: left;
    color: $textgray;
    flex-size: 1;
}

// Set Controller Structure
#set-controller {
    > div { float:left; }
    #setSubtract {
        border-left: 1px solid #aaa;
        }
}

//Interval Top
#middle {

    height: 75vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    .column-container {
      // width: 160vw;
      display: flex;
    }
    .column {
      flex: 0 0 48vw;
    }
}
.column {
    // float: left;
    margin-left: -1vh;
    > div { margin: 1vh; padding-top: 5.5vh; }
    .header {
        height: 15vh;
        margin-top: 0;
        box-sizing: border-box;
    }
    .countdown {
        height: 52.5vh;
        position: relative;
        .countdown-bar { position: absolute; left: 0; right: 0; top: 0; bottom: 2%; }
        .time { position: absolute; left:0; width: 100%;}

    }
}



#bottom {
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    .label {font-size: 7vw; align-self: center; flex: 1;}
}

//  ********SET-TIME NUM PAD VIEW********

#set-time {
    height: 84vh;
    header {
        position: relative;
        padding: 3vh 0 2vh;

        &:after {
        content: '';
        position: absolute;
        width: 70vw;
        background: transparentize(#666666, .8);
        border-radius: 20px;
        height: 2px;
        margin-left: -35vw;
        }
        .title {
            font-size: 3.5vh;
            text-transform: uppercase;
            font-weight: 100;
            color: transparentize(#FFF, .3);
            em {
                color: #FFF; font-weight: 700;
                font-style: normal;
                 }
            }

        #close-button {
            position: absolute;
            color: transparentize(#666666, .5);
            transform: rotate(45deg);
            right: 3vw;
            top: 1vw;
            font-weight: 100;
            font-size: 9vw;
            text-shadow: none;
            }
        .minute, .seconds {
            font-size: 18vw;
            font-weight: 100;;
            }
        .minute:after {
            content: "m";
            font-size: 8vw;
            }
        .seconds:after {
            content: "s";
            font-size: 8vw;
            margin-left: -4vw;
            }


        }
    }

#phone-pad {
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    align-items: center;
    justify-content: center;

    span {
        flex-basis: 30vw;
        }

     }
