
$fa-font-path: "../bower_components/font-awesome/fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import '../app/styles/variables';
@import '../app/styles/base';
@import "../app/styles/frame";
@import "../app/styles/components";
@import "../app/styles/mediaqueries";


html { height: 100%; }
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'roboto', helvetica, arial, sans-serif;
}

// UTIL CLASSES

.float-left {float:left;}
.float-right {float: right;}
.label { text-transform: uppercase; font-weight: bold;}
