<div>
    <div id="top">
        <div id="set-controller">
            <div id="setAdd" ng-click="setAdd()">
                <span class="label">Sets:</span>
                    <i ng-repeat="i in getSet(set) track by $index" class="fa fa-circle-o">
                    </i>
                    <span id="set-controls"><i class="fa fa-plus"></i>
            </div>
            <div id="setSubtract" ng-click="setSubtract()">
                 <i class="fa fa-minus"></i></span>
             </div>
        </div>
    </div>

    <div id="middle">
        <div class="column-container">
            <div class="column warmup">
                <div class="header">
                    <span class="label">Warm-Up</span>
                </div>
                <div class="countdown">
                    <div class="countdown-bar"></div>
                    <span class="time">12m0s</span>
                </div>
            </div>

            <div class="interval-sets" ng-repeat="i in getSet(set) track by $index">
                <div class=" column gofast">
                    <div class="header">
                        <span class="label">Go Fast</span>
                    </div>


                    <div class="countdown">
                        <div class="countdown-bar"></div>
                        <span class="time">3m0s</span>
                    </div>
                </div>
                <div class=" column goslow">
                    <div class="header">
                        <span class="label">Go Slow</span>
                    </div>
                    <div class="countdown">
                        <div class="countdown-bar"></div>
                        <span class="time">3m0s</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="goslow">
        <span class="label">Go Go Go</span>
    </div>

    <!-- <div id="schedule">

    </div>
    {{running}}
    <button ng-click="toggleRunning()">Start/Stop</button> -->

<div>
