<div id="app-container">
    <div id="top">
        <div id="set-controller">
            <div id="setAdd" ng-click="setAdd()">
                <span class="label">Sets:</span></span class="setNum">{{intervalNum}}</span>
                    <i ng-repeat="set in userSets track by $index" class="fa fa-circle-o">
                    </i>
                    <span id="set-controls"><i class="fa fa-plus"></i>
            </div>
            <div id="setSubtract" ng-click="setSubtract()">
                 <i class="fa fa-minus"></i></span>
             </div>
        </div>
    </div>

    <div id="middle">
        <div class="column-container">
            <div class="column-container">
                <div class="column warm-up">
                    <div class="header">
                        <span class="label" >Warm-Up</span>
                    </div>
                    <div class="countdown">
                        <div class="countdown-bar"></div>
                        <a class="time" href="/#/settime">{{activeDuration}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="bottom" class="goslow">
        <span class="label" ng-click="toggleRunning()">Go Go Go</span> {{isRunning}}
    </div>

    <!-- <div id="schedule">

    </div>
    {{running}}
    <button ng-click="toggleRunning()">Start/Stop</button> -->

<div>
