<div id="set-time" class="container warm-up">
    <header>
        <span class="title">Set <em>Warm-Up</em></span>
        <a id="close-button" href="/#/">+</a>

        <p>
            <span class="minute">00</span><span class="seconds">00
        </p>

    </header>

    <div id="phone-pad">
        <span class="num">1</span><span class="num">2</span><span class="num">3</span>
        <span class="num">4</span><span class="num">5</span><span class="num">6</span>
        <span class="num">7</span><span class="num">8</span><span class="num">9</span>
        <span class="num">0</span>

    </div>

    <footer id="bottom" class="goslow">
        <span class="label">Save</span>
    </footer>

</div>
